@model IEnumerable<SymposiumVoting.Models.Project>

@{
    ViewBag.Title = "Symposium Projects";
}

<h2 >Symposium Projects</h2>
<div id="radios" style="display: inline-block; margin-right: 30px;" class="hidden">
    <div>
        <table>

            <tr>
                <td><input type="radio" name="opt" checked="checked" id="filter_symposium"></td>
                <td>Filter By Symposium</td>
            </tr>

            <tr>
                <td><input type="radio" name="opt" id="filter_course"></td>
                <td>Filter By Course</td>
            </tr>

            <tr>
                <td><input type="radio" name="opt" id="filter_both"></td>
                <td>Filter By Both</td>
            </tr>

        </table>
    </div>
</div>
<div class="select_projects">

    <p style="text-align:center; font-weight:bold;">
        Select a Symposium:
        <select id="scope_project">
            @foreach (var item in ViewBag.Symposiums)
            {

                <option value=@item.ID>@item.semester - @item.year</option>

            }
        </select>
    </p>
</div>
<div class="select_projects_with_course hidden">

    <p style="text-align:center; font-weight:bold;">
        Select a Symposium:
        <select id="scope_project_with_course">
            @foreach (var item in ViewBag.Symposiums)
            {

                <option value=@item.ID>@item.semester - @item.year</option>

            }
        </select>
    </p>
</div>

    <div id="scoped_courses">

    </div>
<div id="options" class="hidden">
    <p style="display:inline-block;">
        @*@Html.ActionLink("Create New Project For ", "Create", new { }, new { @class = "btn", id = "semester" })*@

        <input type="hidden" name="lname" value="">
    </p>
    @if (ViewBag.Course_Count != 0)
    {
        <p style="display:inline-block;">
            @Html.ActionLink("Export Projects For ", "ExportPlanToWord", new { }, new { @class = "btn", id = "export" })
            <input type="hidden" name="lname" value="">
        </p>
    }
</div>





<div id="result">

</div>
<div id="scoped">
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    var e = $('#scope_project');
    var create_project = $('#create_project');
    var export_project = $('#export_projects');
    var course = $('#scope_course_project')
    var strUser = create_project.val();
    var ec = $('#scope_project_with_course')
    var id = e.val();
    var c = $('#scope_course_project').val();
    $('#course_wrapper').addClass('hidden');
    $("#scope_project").prop("selectedIndex", -1);

    //$.get('scoped_projects/' + e.val(), function (data) {
    //    $('#scoped').html(data);
    //});
    $("#scope_project_with_course").prop("selectedIndex", -1);
    $('#scope_project_with_course').change(function () {
        c = '';
        $.get('http://crux2.unfcsd.unf.edu/StarVote/Projects/scoped_projects/' + ec.val() + '?course_id=' + c, function (data) {
            $('#scoped').html(data);
        });
        
        $.ajax({
            type: "GET",
            url: "http://crux2.unfcsd.unf.edu/StarVote/Projects/dropdown_for_courses",
            data: { symposium_id: ec.val() },
            datatype: "html",
            success: function (data) {
                $('#scoped_courses').html(data);
            }
        });
        $('#course_wrapper').removeClass('hidden');
        $('#export').html('Export projects for ' + $('#scope_project_with_course option:selected').text());
        $('#semester').html('Create project for ' + $('#scope_project_with_course option:selected').text());
        $('#export').attr('href', "http://crux2.unfcsd.unf.edu/StarVote/Projects/ExportPlanToWord/" + ec.val() + '?course_id=' + c);
        $('#semester').attr('href', "StarVote/Projects/Create/" + ec.val() + '?course_id=' + c);
        $('#export').removeClass('hidden');
        $('#semester').removeClass('hidden');

    });



    $('#scope_project').change(function () {
        $('.select_projects').css('vertical-align', 'top');
        $('.select_projects').css('margin-right', '20px');
        $('.select_projects').css('display', 'inline-block');
        $('#scoped_courses').css('vertical-align', 'top');
        $('#scoped_courses').css('display', 'inline-block');

        $('#radios').removeClass('hidden ');
        $('#options').removeClass('hidden');
        $('#export').attr('href', "http://crux2.unfcsd.unf.edu/StarVote/Projects/ExportPlanToWord/" + e.val());
        $('#semester').attr('href', "StarVote/Projects/Create/" + e.val());
        $('#export').html('Export projects for ' + $('#scope_project option:selected').text());
        $('#semester').html('Create project for ' + $('#scope_project option:selected').text());
        $('#scoped').empty();
        $.get('http://crux2.unfcsd.unf.edu/StarVote/Projects/scoped_projects/' + e.val(), function (data) {
            $('#scoped').html(data);
        });
        $('#semester').attr('href', "StarVote/Projects/Create/" + e.val());
        $('#create_project').change(function () {
            $('#semester').attr('href', "StarVote/Projects/Create/" + e.val());

        })
    });


    $('#export_projects').change(function () {
        

    })




    $(function () {
        $("#scope_project").change(function () {
            $('#semester').removeClass('hidden');
            $('#export').removeClass('hidden'); 
        });
    });
 




    $('#filter_course').click(function () {
        id = null;

        $('#scope_project').val('');
        $('#scope_project_with_course').val('');
        $('.select_projects_with_couse').removeClass('hidden');
        $("#scope_project").val('');
        $('#course_wrapper').removeClass('hidden');
        $("#scope_project").val('');
        $('#scoped').empty();
        $('.select_projects').addClass('hidden');



        $('.select_projects_with_course').addClass('hidden');
        $('#scope_course_project').prop("selectedIndex", -1);
        $.ajax({
            type: "GET",
            url: "http://crux2.unfcsd.unf.edu/StarVote/Projects/dropdown_for_courses",
            data: { symposium_id: id },
            datatype: "html",
            success: function (data) {
                $('#scoped_courses').html(data);
            }
        });
        $('#course_wrapper').removeClass('hidden');
        $('#export').addClass('hidden');
        $('#semester').addClass('hidden');

    })
    $('#filter_both').click(function () {

        $('.select_projects_with_couse').removeClass('hidden');
        $('.select_projects').addClass('hidden');
        $('#course_wrapper').removeClass('hidden');
        $('.select_projects').addClass('hidden');
        $('.select_projects_with_course').removeClass('hidden');
        $('.select_projects_with_course').css('vertical-align', 'top');
        $('.select_projects_with_course').css('margin-right', '20px');
        $('.select_projects_with_course').css('display', 'inline-block');
        $('#scope_course_project').prop("selectedIndex", -1);
        $('#scope_project_with_course').prop("selectedIndex", -1);
        $('#scoped').empty();
        $('#export').addClass('hidden');
        $('#semester').addClass('hidden');

    })
    $('#filter_symposium').click(function () {
        $('#scoped').empty();
        $("#scope_course_project").val('');
        $('#export').addClass('hidden');
        $('#course_wrapper').addClass('hidden');
        $('.select_projects').removeClass('hidden');
        $('.select_projects_with_course').addClass('hidden');



    })

</script>
