@model SymposiumVoting.Models.Voter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voter</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Symposium", "Details", "Symposiums", new { id = Model.symposiumID }, new { })
</p>
