@model SymposiumVoting.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
           Course ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_id)
        </dd>

        <dt>
            Project Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_name)
        </dd>

        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
